* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: #eee;
}

header {
  display: flex;
  justify-content: center;
  border-top: 20px solid #00688B;
  align-items: center;
}

.portrait {
  margin-left: 40px;
  width: 140px;
  height: 140px;
  padding: 10px;
  border-radius: 100%
}

.title {
  font-size: 56px;
  color: #484848;
  margin-bottom: 0;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  color: #484848;
}

main {
  display: flex;
  padding: 0 40px;
  max-width: 1800px;
  margin: auto;
}

.card-container {
  width: 100%;
}