@{
    ViewBag.Title = "Home Page";
}

<section id="Home">
    <div class="home-title">
      <!-- <h1>Aim for the top, we'll get you there</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante sem, egestas sit amet sollicitudin et, tristique vel sapien. Vivamus elementum eros eu urna consequat varius. Integer vel mollis nisl. Quisque pellentesque diam in felis elementum mattis. Quisque porttitor sagittis augue, in dapibus risus sagittis in. Sed tincidunt erat lorem, quis consectetur nisl tincidunt a. Mauris pulvinar non ante id tristique. Donec sed suscipit eros. Mauris in odio id purus blandit eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    --></div>
</section>
<section id="About_us" class="tmp">
    <div class="container">
        <h1>About us</h1>
        <p>We offer a range of key consulting services for clients looking to develop their business, attract local investment and find suitable partners in China. Our main asset is our extensive network in China based grown from decades of activity in Chinese market.</p>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-mobile "></i>
                    </div>
                    <div class="media-body">
                        <h3>Value</h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-bell "></i>
                    </div>
                    <div class="media-body">
                        <h3>Business Development</h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-laptop "></i>
                    </div>
                    <div class="media-body">
                        <h3>Market Research</h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-support"></i>
                    </div>
                    <div class="media-body">
                        <h3>Network</h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-code "></i>
                    </div>
                    <div class="media-body">
                        <h3>
                            Simplicity in complexity

                        </h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-icon">
                        <i class="fa fa-cog "></i>
                    </div>
                    <div class="media-body">
                        <h3>Tailored service</h3>
                        <p>We deliver value by converting our China knowledge into practical solutions for our clients. Plans that help our clients position themselves in a highly competitive market. We work toward sustained long-term development for both our clients and China.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<section id="Software" class="tmp">
    <div class="container">
        <h1>Software</h1>
        <p>
            We focus primarily on your business goals and we try to find the most expedient way to meet your requirements, in whatever form they come. We approach you, as a customer, as an opportunity to bring your ideas and solutions forth and acting more like a partner than the typical consulting company. Meaning that we hope to use your existing resources and develop stable software platforms that you can expand upon as the need arises.<br /><br />
            Long time solutions that enables us to grow our own company and expertise alongside yours. In order to achive the best expected results and user-friendly interactions. At the same time making sure that the right confidentiality is applied according to your needs..
        </p>
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-heading">
                        <h3>Approach</h3>
                    </div>
                    <div class="media-body">
                        <img src="~/image/leap-456100_960_720.jpg" width="100%" height="200" />
                        <p>When we create your software solution we aim to make it so that you can use it in the future without our help. That means that each application or server solution is made with in-depth architectural design, planning, code testing and user testing so that the software becomes intuitive to use and reduces the need for support lines for everyday use.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-heading">
                        <h3>Development needs</h3>
                    </div>
                    <div class="media-body">
                        <img src="~/image/images.jpg" width="100%" height="200" />
                        <p>While we can build whatever your company needs, our expertise lies in building business applications for the Windows platform using the .NET framework and SQL. This doesn’t mean that we’re locked to these technologies and as the need arises we can expand into mobile and web applications as well. If you’re especially interested we can even provide you with cross-platform solutions for Windows 10 that covers Desktops, Tablets, Windows phones, the Xbox One and the coming HoloLens</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="media">
                    <div class="media-heading">
                        <h3>Methodology</h3>
                    </div>
                    <div class="media-body">
                        <img src="~/image/6a00e54ee21bf28834019b00a6486e970c-320wi.png" width="100%" height="200" />
                        <p>We believe that software development should be a learning experience and that every line of code should be an exemplar for later developers to follow and improve upon. This reflects upon your company as we believe in transparency when it comes to develop software that suits your need. You, as a client, should have the option to view the progress of the project, getting bug lists and deciding at early stages how the project should move forward, as well as on-going future developments as the software matures. We don’t just provide you with milestone builds, but offer an often-needed interactivity between your company and our software developers to minimize risk of erroneous development of features and methods, as well as bringing new ideas, user interactivity and features into the light.</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
</section>
<section id="Service" class="tmp">
    <div class="container">
        <h1>Service</h1>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Consulting</h3>
                </div>
                <div class="media-body">
                    <img src="~/image/pexels-photo-70292.jpeg" width="100%" height="200" />
                    <p>When we create your software solution we aim to make it so that you can use it in the future without our help. That means that each application or server solution is made with in-depth architectural design, planning, code testing and user testing so that the software becomes intuitive to use and reduces the need for support lines for everyday use.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Consulting</h3>
                </div>
                <div class="media-body">
                    <img src="~/image/pexels-photo-70292.jpeg" width="100%" height="200" />
                    <p>While we can build whatever your company needs, our expertise lies in building business applications for the Windows platform using the .NET framework and SQL. This doesn’t mean that we’re locked to these technologies and as the need arises we can expand into mobile and web applications as well. If you’re especially interested we can even provide you with cross-platform solutions for Windows 10 that covers Desktops, Tablets, Windows phones, the Xbox One and the coming HoloLens</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Consulting</h3>
                </div>
                <div class="media-body">
                    <img src="~/image/pexels-photo-70292.jpeg" width="100%" height="200" />
                    <p>We believe that software development should be a learning experience and that every line ect should move forward, as well as on-going future developments as the software matures. We don’t just provide you with milestone builds, but offer an often-needed interactivity between your company and our software developers to minimize risk of erroneous development of features and methods, as well as bringing new ideas, user interactivity and features into the light.</p>
                </div>
            </div>
        </div>
        </div>
</section>
<section id="Team" class="tmp">
    <div class="container">
        <h1>Team</h1>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Tibor</h3>
                </div>
                <div class="media-body">
                    <div class="view">
                        <img src="http://www.northernlightcapital.se/wp-content/uploads/2015/02/Mattias.jpg" width="100%" height="500" />
                        <div class="mask">
                            <h2>Member #5</h2>
                            <p>One of our members</p>
                        </div>
                    </div>
                    <ul class="team-info">
                        <li>Tibor@gmail.com</li>
                        <li>+12345612</li>
                        <li><i class="fa fa-envelope"></i><i class="fa fa-twitter"></i><i class="fa fa-skype"></i><i class="fa fa-linkedin"></i> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Tibor</h3>
                </div>
                <div class="media-body">
                    <div class="view">
                        <img src="http://www.northernlightcapital.se/wp-content/uploads/2015/02/Mattias.jpg" width="100%" height="500" />
                        <div class="mask">
                            <h2>Member #5</h2>
                            <p>One of our members</p>
                        </div>
                    </div>
                    <ul class="team-info">
                        <li>Tibor@gmail.com</li>
                        <li>+12345612</li>
                        <li><i class="fa fa-envelope"></i><i class="fa fa-twitter"></i><i class="fa fa-skype"></i><i class="fa fa-linkedin"></i> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="media">
                <div class="media-heading">
                    <h3>Tibor</h3>
                </div>
                <div class="media-body">
                    <div class="view">
                        <img src="http://www.northernlightcapital.se/wp-content/uploads/2015/02/Mattias.jpg" width="100%" height="500" />
                        <div class="mask">
                            <h2>Member #5</h2>
                            <p>One of our members</p>
                        </div>
                    </div>
                    <ul class="team-info">
                        <li>Tibor@gmail.com</li>
                        <li>+12345612</li>
                        <li><i class="fa fa-envelope"></i><i class="fa fa-twitter"></i><i class="fa fa-skype"></i><i class="fa fa-linkedin"></i> </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
</section>
<section id="Career" class="tmp">
    <div class="container">
        <h1>Career</h1>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="jobs">
                <h2>Jobs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel malesuada metus. Suspendisse tincidunt libero sapien. Curabitur tincidunt nunc a imperdiet porta. Morbi pretium leo eget ante tincidunt mattis. Quisque et mattis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rutrum enim nibh, eget tincidunt odio bibendum quis. Integer ut vehicula velit. Morbi quam ante, gravida non consectetur at, laoreet et arcu. Maecenas pretium et enim id egestas. Cras quis dictum velit, sit amet dignissim nisi. Nulla vitae aliquam nisi, eget suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra lacinia bibendum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel malesuada metus. Suspendisse tincidunt libero sapien. Curabitur tincidunt nunc a imperdiet porta. Morbi pretium leo eget ante tincidunt mattis. Quisque et mattis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rutrum enim nibh, eget tincidunt odio bibendum quis. Integer ut vehicula velit. Morbi quam ante, gravida non consectetur at, laoreet et arcu. Maecenas pretium et enim id egestas. Cras quis dictum velit, sit amet dignissim nisi. Nulla vitae aliquam nisi, eget suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra lacinia bibendum.</p>           
                <input type="button" value="Apply" name="jobs" class="button" />
            </article>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="internship">
                <h2>Internship</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel malesuada metus. Suspendisse tincidunt libero sapien. Curabitur tincidunt nunc a imperdiet porta. Morbi pretium leo eget ante tincidunt mattis. Quisque et mattis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rutrum enim nibh, eget tincidunt odio bibendum quis. Integer ut vehicula velit. Morbi quam ante, gravida non consectetur at, laoreet et arcu. Maecenas pretium et enim id egestas. Cras quis dictum velit, sit amet dignissim nisi. Nulla vitae aliquam nisi, eget suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra lacinia bibendum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel malesuada metus. Suspendisse tincidunt libero sapien. Curabitur tincidunt nunc a imperdiet porta. Morbi pretium leo eget ante tincidunt mattis. Quisque et mattis libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rutrum enim nibh, eget tincidunt odio bibendum quis. Integer ut vehicula velit. Morbi quam ante, gravida non consectetur at, laoreet et arcu. Maecenas pretium et enim id egestas. Cras quis dictum velit, sit amet dignissim nisi. Nulla vitae aliquam nisi, eget suscipit ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra lacinia bibendum.</p>
                <input class="button" type="button" value="Apply" name="internship" />
            </article>
        </div>
        
        </div>
</section>
<section id="Contact" class="tmp">
    <div class="container">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante sem, egestas sit amet sollicitudin et, tristique vel sapien. Vivamus elementum eros eu urna consequat varius. Integer vel mollis nisl. Quisque pellentesque diam in felis elementum mattis. Quisque porttitor sagittis augue, in dapibus risus sagittis in. Sed tincidunt erat lorem, quis consectetur nisl tincidunt a. Mauris pulvinar non ante id tristique. Donec sed suscipit eros. Mauris in odio id purus blandit eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

        <div class="col-md-6">
            <div class="contact_us">
            <h3>Meesage</h3>
        <form action="#Contact" class="contact-form">
            <input type="text" class="form-control" placeholder="Name" name="name"/>
            <input type="text" class="form-control" placeholder="Email" name="email"/>
            <input type="tel" class="form-control" placeholder="Phone number"  name="phone number"/>
            <textarea class="form-control" placeholder="Message" rows="5" cols="20"></textarea>
            <input class="contact-btn" type="submit" value="Submit" />
        </form>
                </div>
            </div>
        <div class="col-lg-6 contact-info">
            <h3>Map</h3>
            <div id="map"></div>
        </div>
        </div>
</section>