@media screen and (max-width: 1230px) {
    .featured-item img {
        width: 100%;
        grid-column: 1/3;
    }
    .featured-item p {
        grid-column: 1/3;
    }
    
}

@media screen and (max-width: 800px) {

    .sidebar {
        grid-column: 1/5;
    }
    .featured {
        grid-column: 1/5;
    }
}    