
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="header-main">
        <a class="header-link" href="@Url.Action("Index","About")">The team</a>
        <a class="header-link" href="@Url.Action("About_us","About")">About us</a>
    </div>
    <div class="team-box">
       <h3>What do we do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus facilisis mi id placerat. Mauris et sagittis ligula, nec iaculis urna. Donec pretium dolor ac dolor pulvinar sagittis. Pellentesque et luctus tortor. Phasellus placerat vestibulum lacus, sed tempus ligula porttitor ac. Etiam luctus tortor non tincidunt tristique. Ut bibendum ante lacus, nec placerat eros mollis id. Vestibulum et turpis at tellus dapibus eleifend a a ipsum. Proin non ornare purus, at pharetra eros.
        </p>
    </div>
    
        </div>