
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="header-main">
        <a class="header-link" href="@Url.Action("Index","About")">The team</a>
        <a class="header-link" href="@Url.Action("About_us","About")">About us</a>
    </div>
        <div class="view view-first">
            <i class="fa fa-user fa-5x hover-1"></i>
            <div class="mask">
                <h2>Fredrik</h2>
                <p>Fredrik har skapat alla funktioner</p>
            </div>
        </div>
        <div class="view view-second">
            <i class="fa fa-user fa-5x hover-1"></i>
            <div class="mask">
                <h2>Nomi</h2>
                <p>Nomi har skapat denna coola sidan</p>
            </div>
        </div>
        <div class="view view-third">
            <i class="fa fa-user fa-5x hover-1"></i>
            <div class="mask">
                <h2>Marc</h2>
                <p>Markus har jobbat hårt </p>
            </div>
        </div>
        <div class="view view-forth">
            <i class="fa fa-user fa-5x hover-1"></i>
            <div class="mask">
                <h2>Marc</h2>
                <p>Markus har jobbat hårt </p>
            </div>
        </div>
        <div class="view view-fifth">
            <i class="fa fa-user fa-5x hover-1"></i>
            <div class="mask">
                <h2>Marc</h2>
                <p>Markus har jobbat hårt </p>
            </div>
        </div>
    </div>