
@{
    ViewBag.Title = "About";
}
<div class="container">
<nav class="header-main">
    <ul>
        <li>@Html.ActionLink("The Team", "Index", "Home")</li>
        <li>@Html.ActionLink("Timeline", "Index", "About")</li>
    </ul>
 </nav>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-user fa-5x"></i>
</div>